# Backend
MONGODB_CONNECTION_URL=""
PORT=3000
MAIL_HOST="smtp.gmail.com"
MAIL_USER=""
MAIL_PASS=""
JWT_SECRET=""
FOLDER_NAME=""
RAZORPAY_KEY=""
RAZORPAY_SECRET=""
WEBHOOK_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
FRONTEND_URL="http://localhost:3000"
CLIENT_URL="http://localhost:3000"

# Frontend (Next.js)
NEXT_PUBLIC_API_BASE_URL="/api/v1"
NEXT_PUBLIC_RAZORPAY_KEY=""
